services:
  server:
    image: ghcr.io/martinbjeldbak/acestream-http-proxy
    container_name: acestream-http-proxy
    ports:
      - "6878:6878"
    networks:
      - acestream-network

  app:
    image: ghcr.io/subasically/acestream-link-scraper
    container_name: acestream-link-scraper
    environment:
      - UPDATE_INTERVAL=60
      - SERVER_IP=server:6878
      - SEARCH_QUERIES=[UK],[US],DAZN,Eleven
      - PLAYLIST_FILENAME=output.m3u8
      - TEST_DELAY=1
      - TIMEOUT=10
      - TZ=America/Chicago
      - MAX_RETRIES=30
      - RETRY_DELAY=5
    volumes:
      - <LOCAL-DIR>:/usr/src/app
    depends_on:
      - server
    networks:
      - acestream-network

networks:
  acestream-network:
    driver: bridge
