services:
  acestream-proxy:
    image: ghcr.io/martinbjeldbak/acestream-http-proxy
    container_name: acestream-http-proxy
    ports:
      - "6878:6878"

  scraper-web:
    image: ghcr.io/subasically/acestream-link-scraper:latest
    container_name: scraper-web
    environment:
      - UPDATE_INTERVAL=4320
      - SERVER_IP=${SERVER_IP}
      - API_SERVER_IP=acestream-proxy:6878
      - SEARCH_QUERIES=[UK],[US],DAZN,Eleven,ESPN,Bein,Arena Sport,EuroSport,Nova Sport,polsat sport
      - TVMAZE_API_KEY=${TVMAZE_API_KEY}
      - FLASK_APP=proxy.py
    ports:
      - "8500:80" # scraper UI
      - "8888:8080" # manifest proxy
    depends_on:
      - acestream-proxy

networks:
  default:
    driver: bridge
