services:
  acestream-proxy:
    image: ghcr.io/martinbjeldbak/acestream-http-proxy
    container_name: acestream-http-proxy
    ports:
      - "6878:6878"

  manifest-proxy:
    build:
      context: .
      dockerfile: Dockerfile.manifest
    container_name: manifest-proxy
    ports:
      - "8888:8080"
    depends_on:
      - acestream-proxy

  scraper-web:
    image: ghcr.io/subasically/acestream-link-scraper:latest
    container_name: scraper-web
    environment:
      - UPDATE_INTERVAL=4320
      - SERVER_IP=channels.subasically.me/ace
      - API_SERVER_IP=acestream-proxy:6878
      - SEARCH_QUERIES=[UK],[US],DAZN,Eleven,ESPN,Bein,Arena Sport,EuroSport,Nova Sport,polsat sport
      - TVMAZE_API_KEY=1OWvzHAsenxHdrOOV-kFNzf27Hy06ISe
    ports:
      - "8500:80"
    depends_on:
      - acestream-proxy

networks:
  default:
    driver: bridge
