services:
  server:
    image: ghcr.io/martinbjeldbak/acestream-http-proxy
    container_name: acestream-http-proxy
    ports:
      - '6878:6878'
    networks:
      - acestream-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: acestream-link-scraper
    environment:
      - SEARCH_QUERIES=
      - UPDATE_INTERVAL=3600
      - SERVER_IP=
    volumes:
      - ./:/usr/src/app
    depends_on:
      - server
    networks:
      - acestream-network

networks:
  acestream-network:
    driver: bridge
