services:
  acestream-proxy:
    image: ghcr.io/martinbjeldbak/acestream-http-proxy
    container_name: acestream-http-proxy
    ports:
      - "6878:6878"

  scraper-web:
    image: ghcr.io/yourusername/acestream-link-scraper:latest
    container_name: scraper-web
    environment:
      - UPDATE_INTERVAL=60
      - SERVER_IP=acestream-proxy:6878
      - SEARCH_QUERIES=[UK],[US],DAZN,Eleven
    ports:
      - "8500:80"
    depends_on:
      - acestream-proxy

networks:
  default:
    driver: bridge
