services:
  server:
    image: ghcr.io/martinbjeldbak/acestream-http-proxy
    container_name: acestream-http-proxy
    ports:
      - "6878:6878"
    networks:
      - acestream-network

  app:
    image: ghcr.io/subasically/acestream-link-scraper
    container_name: acestream-link-scraper
    environment:
      - TZ=America/Chicago
      - UPDATE_INTERVAL=60
      - SERVER_IP=server:6878
      - SEARCH_QUERIES=[UK],[US],DAZN,Eleven
    volumes:
      - acestream-data:/usr/src/app
    depends_on:
      - server
    networks:
      - acestream-network

  web:
    image: nginx:alpine
    container_name: acestream-static
    volumes:
      - acestream-data:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
    networks:
      - acestream-network

networks:
  acestream-network:
    driver: bridge

volumes:
  acestream-data:
