services:
  app:
    build: .
    container_name: acestream-all-in-one
    environment:
      - TZ=America/Chicago
      - UPDATE_INTERVAL=60
      - SERVER_IP=10.10.10.5:6878
      - SEARCH_QUERIES=[UK],[US],DAZN,Eleven
    ports:
      - "8500:80"
    restart: unless-stopped

networks:
  default:
    driver: bridge
